body {
  background-image: linear-gradient(120deg, #3e32a8, #e310c7);
  font-family: 'PT Mono', monospace;
  color: rgb(255, 255, 255);
  margin: 0; 
  height: 100%; /* full viewport height */
  min-height: 100vh;


}

.grid-container {
  display: grid;
  width: 100vw;
  color: #ffffff;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%; /* Default size for larger screens */
    height: auto;

}

a {
  color: #99a3ae; /* Sets the link color */
  text-decoration: none; /* Removes underline from links */
  font-weight: bold; /* Makes the font bold */
}

a:hover {
  color: #36ebff; 
  text-decoration: underline; /* Adds underline on hover for accessibility */
}


/* navigation style */

.sidenav {
height: 100%;
text-transform: uppercase;
width: 0;
position: fixed; /* removed from the normal document flow */
z-index: 1;
top: 0;
right: 0;
background-color: #111;
overflow-x: hidden;
transition: 0.5s;
padding-top: 60px;
}

.sidenav a {
padding: 8px 8px 8px 32px;
text-decoration: none;
font-size: 25px;
color: #818181;
display: block;
transition: 0.3s;
}

.sidenav a:hover {
color: #f1f1f1;
}

.sidenav .closebtn {
position: absolute;
top: 0;
right: 25px;
font-size: 36px;
margin-left: 50px;
}

/* navigation element */

#main {
position: fixed;
top: 0;
right: 0;
padding: 16px;
padding-top: 2%;
margin-right: 3%;
font-size: 30px;
cursor: pointer;

}

@media screen and (max-height: 450px) {
.sidenav {padding-top: 15px;}
.sidenav a {font-size: 18px;}
}

